.grid-item{
  height: 1rem;
  padding-left: .3rem;

  img{
    width: .6rem;
    height: .6rem;
  }

  .grid-item-right{
    padding-left: .1rem;
  }
  .text_gray{
    font-size: 14px;
  }
  .text_small{
    font-size: 12px;
  }
}

